<article>
   <header>
        <h2>Connexion</h2>
    </header>

    <%= form_for(:session, url: root_path) do |f| %>

      <%= f.label :login %>
      <%= f.text_field :login %>

      <%= f.label :mot_de_passe %>
      <%= f.password_field :password %>

      <%= f.submit "Valider" %>
    <% end %>
</article>
