<!-- <p id="notice"><%= notice %></p>

<h1>Visits</h1>

<table>
  <thead>
    <tr>
      <th>Date visit</th>
      <th>Place</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @visits.each do |visit| %>
      <tr>
        <td><%= visit.date_visit %></td>
        <td><%= visit.place_id %></td>
        <td><%= link_to 'Show', visit %></td>
        <td><%= link_to 'Destroy', visit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Visit', new_visit_path %> -->

<center>
  <%= form_tag '' , method: 'post' do %>

    <!-- Use Helpers to build any differents style of input -->
    <!-- <%= options_from_collection_for_select(@places, :id, :name) %> -->
    <%= select(:place,:place_id,options_for_select(@places.map { |place| [place.name, place.id] })) %>

  <% end %>

  <div id="loading"></div>
  <!-- <div id="js-legend" class="chart-legend"></div> -->
  <div style="width:400px;margin-top:2em">
    <canvas id="myChart"></canvas>
  </div>
  <select class="" id="chartType" name="">
    <option value="line">Line Chart</option>
    <option value="bar">Bar Chart</option>
    <!-- <option value="radar">Radar Chart</option> -->
    <!-- <option value="polarArea">Polar Area Chart</option> -->
    <option value="pie">Pie Chart</option>
  </select>

    <div>
        <!--<%= form_tag 'search', method: 'post' do %>
            <%= select_date Date.today,:use_month_names => [t(:jan), t(:feb), t(:mar), t(:apr), t(:may), t(:jun), t(:jul), t(:aug), t(:sep), t(:oct), t(:nov), t(:dec)] ,prefix: :start_date %>
        <% end %>-->

        <label for="from">Du<input type="text" id="start_date" name="start_date"/></label>

        <label for="to">Au<input type="text" id="end_date" name="end_date"/></label>

        <div class="lightbox">
        </div>
    </div>
    <button id="valider">valider</button>

    <p>
      Export:
      <%= link_to "CSV", visits_path(format: "csv") %>
    </p>
</center>
