<p id="notice"><%= notice %></p>

<h1>Visits</h1>

<table>
  <thead>
    <tr>
      <th>Date visit</th>
      <th>Place</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @visits.each do |visit| %>
      <tr>
        <td><%= visit.date_visit %></td>
        <td><%= visit.place_id %></td>
        <td><%= link_to 'Show', visit %></td>
        <td><%= link_to 'Destroy', visit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Visit', new_visit_path %>

<center>
  <%= form_tag '' , method: 'post' do %>

    <select name="place">
      <% @places.each do |place| %>
        <option value=" <% place.id %> "> <%= place.name %> </option>
      <% end %>
    </select>

  <% end %>

  <div style="width:400px">
    <%= line_chart  @data, @options %>
  </div>
</center>
