<!-- <p id="notice"><%= notice %></p>

<h1>Visits</h1>

<table>
  <thead>
    <tr>
      <th>Date visit</th>
      <th>Place</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @visits.each do |visit| %>
      <tr>
        <td><%= visit.date_visit %></td>
        <td><%= visit.place_id %></td>
        <td><%= link_to 'Show', visit %></td>
        <td><%= link_to 'Destroy', visit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Visit', new_visit_path %> -->

<div id="my-spin"></div>

<center>
  <%= form_tag '' , method: 'post' do %>

    <!-- Use Helpers to build any differents style of input -->
    <!-- <%= options_from_collection_for_select(@places, :id, :name) %> -->
    <%= select(:place,:place_id,options_for_select(@places.map { |place| [place.name, place.id] })) %>

  <% end %>

  <div style="width:400px;margin-top:2em">
    <%= bar_chart  @data, @options %>
  </div>

    <div>
        <%= form_tag 'search', method: 'post' do %>
            <%= select_date Date.today,:use_month_names => ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre','Décembre'] ,prefix: :start_date %>
        <% end %>
    </div>
</center>
