<p id="notice"><%= notice %></p>

<p>
  <strong>Date visit:</strong>
  <%= @visit.date_visit %>
</p>

<p>
  <strong>Place:</strong>
  <%= @visit.place_id %>
</p>

<%= link_to 'Back', visits_path %>


<center>
  <%= form_tag '/stat' , method: 'post' do %>

    <select name="place">
      <% @places.each do |place| %>
        <option value=" <% place.id %> "> <%= place.name %> </option>
      <% end %>
    </select>

    <input type="submit" value="choisir">
  <% end %>

</center>
