<%= form_for(place) do |f| %>
  <% if place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(place.errors.count, "erreur") %>, veuillez y apporter une modification avant de valider :</h2>

      <ul>
      <% place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Nom" %>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit('Valider') %>
  </div>
<% end %>
