<p id="notice"><%= notice %></p>

<h1>Lieux</h1>

<table>
  <thead>
    <tr>
      <th>Noms</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= place.name %></td>
        <td><%= button_to 'Afficher', place, :method => "get" %></td>
        <td><%= button_to 'Modifier', edit_place_path(place), :method => "get" %></td>
        <td><%= button_to 'Supprimer', place, method: :delete, data: { confirm: 'Vous êtes sur le point de supprimer le lieu : "'+place.name+'"' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'Ajouter un lieu', new_place_path, :method => "get" %>
