<!DOCTYPE html>
<html lang="fr">
  <head>
     <%= favicon_link_tag 'logo-faclab.svg' %>
    <title>Faclabprojet0</title>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' , :recursive => true %>
    <%= javascript_include_tag 'application',media: 'all', 'data-turbolinks-track': 'reload' , :recursive => true %>
    <script src="http://spin.js.org/spin.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.1.2/papaparse.min.js"></script>
  </head>
  <body>
    <header>
        <nav class="subnav">
          <div id="logo-wrapper"><a href= "/"><%= image_tag("logo-faclab.svg", :alt => "logo", :class => "logo") %></a></div>
          <% if logged_in? %>
            <ul>
                <li><%= link_to 'Visites' , visits_path, :class => current_class?(visits_path)  %></li>
                <li><%= link_to 'Lieux' , places_path, :class => current_class?(places_path)  %></li>
                <li><%= link_to 'Déconnexion', logout_path, method: "delete" %></li>

            </ul>
          <% end %>
        </nav>
    </header>
    <main>
        <section>
          <article id="messageAlerte">
            <p><% flash.each do |message_type, message| %>
              <%= message %></p>
            <% end %>
          </article>
            <%= yield %>
        </section>
  </body>
</html>
