<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Faclabprojet0</title>
    <meta charset="utf-8"/>
    <%= csrf_meta_tags %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' , :recursive => true %>
    <%= javascript_include_tag 'application',media: 'all', 'data-turbolinks-track': 'reload' , :recursive => true %>
  </head>




  <body>
    <header>
        <nav>
            <ul>
                <li class="active"><a href="<%= root_path %>">Home</a></li>
                <li class=""><%= link_to 'places' , places_path %></li>
                <li class=""><%= link_to 'visits' , visits_path %></li>
                <li></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <% flash.each do |message_type, message| %>
              <%= message %>
            <% end %>
            <%= yield %>
        </section>
        <aside>

        </aside>
    </main>

    <footer>

    </footer>
  </body>






</html>
